<div class="container">
  <div class="col-lg-12">
    <h2 class="text-center">Thank you for your purchase!</h2>
    <p class="text-center"><%= link_to 'Products', products_path%></p>
  </div><!--end content-->
</div><!--end container-->